@font-face {
    font-family: 'RobotoMono-Light';
    src: url(themes/RobotoMono-Light.ttf)
}

::selection {
    background: #63c9f3;
}
::-moz-selection {
    background: #63c9f3;
}

:root {
    --q-color-primary: #497dc6;
}

* {

    scrollbar-track-color: #fff;
    scrollbar-arrow-color: #fff;
    &::-webkit-scrollbar-corner { background-color: #fff;}
    &::-webkit-scrollbar-track-piece { background-color: #fff;}

    scrollbar-face-color: #646464;
    scrollbar-base-color: #646464;
    scrollbar-3dlight-color: #646464;
    scrollbar-highlight-color: #646464;
    scrollbar-shadow-color: #646464;
    scrollbar-dark-shadow-color: #646464;
    &::-webkit-scrollbar { width: 8px; height: 8px;}
    &::-webkit-scrollbar-button {  background-color: #646464; height:0; width: 0; }
    &::-webkit-scrollbar-track {  background-color: #646464;}
    &::-webkit-scrollbar-thumb { height: 50px; background-color: #646464; border-radius: 3px;}
    &::-webkit-resizer { background-color: #646464;}
}

.getting-started {

    img { border: 2px solid #ccc; max-width: 100%; }
    p { max-width: 804px; }
    a {

        color: #497dc6;
        text-decoration: none;

        &:hover,
        &:active,
        &:visited {
            text-decoration: underline;
        }
    }
}

.blocks-page {
  tr.minedByMe {
    background: rgba(73, 125, 198, 0.3)
    &:hover {
    background: rgba(73, 125, 198, 0.5)
    }
  }
}

h1,h2,h3,h4,h5,h6,
img,
.q-list-header,
.q-layout-header,
.q-popover .q-item-label,
.q-list-link .q-item,
.infoBox .text,
.modal-header,
footer,
{
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.monospace {
    font-family: 'RobotoMono-Light', monospace
}

.break-all {
    word-break: break-all
}

.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
}


.identicon {
    image-rendering: crisp-edges;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #cb8fe1;
    box-shadow: inset rgba(255, 255, 255, 0.6) 0 2px 2px, inset rgba(0, 0, 0, 0.3) 0 -2px 6px;
    border-radius: 2px;
}

.q-layout-header {
    background: white;
    box-shadow: none;
    border-bottom: 1px solid #ddd;
    height: 48px;

    .q-toolbar-title {
        font-size: 16px;
        line-height: 48px;
        font-weight: 300;
        padding-left: 50px;
        margin: 0 0 0 16px;
    }

    .q-btn.menu {
        height: 48px;
        width: 50px;
        position: absolute;
        top: 0;
        z-index: 1;
        border-radius: 0;
    }

    .q-toolbar-inverted {
        background: none;
        padding-top: 0;
    }

}

.q-modal-layout {
    .q-toolbar-title {
        padding-left: 00px;
    }
}


.infoBox {
    margin: 0;
    padding: 10px;
    height: 80px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12);
    box-shadow: 0 1px 5px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12);
    vertical-align: top;

    cursor: default;
    position: relative;
    overflow: hidden;
    margin: 10px 0;

    .infoBoxIcon {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 64px;
        color: #212529;

        svg {
            width: 60px;
            height: 60px;
        }
    }

    .infoBoxContent {
        display: inline-block;

        .text {
            font-size: 13px;
            margin-top: 8px;
            color: #212529;
            text-transform: uppercase;
        }

        .value {
            font-size: 24px;
            margin-top: 4px;
            font-weight: 800;
            color: #212529;
            font-weight:300;
        }
    }
}

body.dark {

    &, * {
        scrollbar-track-color: #111;
        scrollbar-arrow-color: #111;
        &::-webkit-scrollbar-corner { background-color: #111;}
        &::-webkit-scrollbar-track-piece { background-color: #111;}
    }

    .q-item-sublabel {
        color: #cecece;
    }
    .infoBoxIcon {
        color: #cecece;
    }

    .infoBoxContent {
        .text {
            color: #cecece;
        }
        .value {
            color: #cecece;
        }
    }

    .identicon {
        box-shadow: inset rgba(0, 0, 0, 0.1) 0 2px 2px, inset rgba(0, 0, 0, 0.3) 0 -2px 6px;
        border-radius: 2px;
    }


    .q-layout {
        background: #111;
        color:#cecece;


        .q-layout-header {
            background: #111;
            box-shadow: none;
            border-bottom: 1px solid #333;

        }
    }

    .q-layout-footer.status-footer {
        background: #111;
        color: #cecece;
        border-top: 1px solid #333;
    }

    .q-list-dark .q-item,
    .q-item-dark .q-item,
    .q-list-header {
        color: #cecece;
    }

    .q-stepper-tab.step-waiting,
    .q-stepper-step-content{
        color: #cecece;
    }


    .q-popover {
        background: #222;
        color:#cecece;

        .q-list-separator > .q-item-division + .q-item-division, .q-item-division + .q-item-separator {
            border-top: 1px solid #333;
        }

    }

    .q-layout-drawer {
        background: #222;
        color:#cecece;
        .q-icon {
            color: #cecece;
        }
    }

    .modal.minimized {
        .q-input {
            .q-input-target {
                color: #cecece;
            }
            &.q-if:hover:before {
                color: #cecece;
            }
        }
    }

    .modal {

        .modal-content,
        .modal-body {
            background: #111;
            color:#cecece;
        }

        .q-layout-header {
            background: #111;
            box-shadow: none;
            border-bottom: 1px solid #333;

            .q-toolbar {
                &>* {
                    color: #cecece;
                }
            }
        }

    }

}
